.about-card_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-card {
  font-weight: bolder;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: var(--title-font);
  color: var(--purple);
}
.about-card_number {
  font-size: 5rem;
}
.bar {
  width: 0.1rem;
  height: 6rem;
  background-color: rgba(42, 43, 46, 0.4);
}
