.about-card_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-card {
  font-weight: bolder;
  padding: 2rem;
  text-align: center;
  font-family: var(--title-font);
  color: var(--purple);
}
.about-card_text {
  text-transform: uppercase;
  /* width: 15rem; */
  font-size: 2rem;
}
.about-card_number {
  font-size: 6rem;
}
.bar {
  width: 0.2rem;
  border-radius: 100rem;
  height: 6rem;
  background-color: rgba(42, 43, 46, 0.2);
}
