body.dark-mode,
body.dark-mode header,
body.dark-mode main,
body.dark-mode .container {
  transition: all 0.3s;
}
/* DARK MODE - BACKGROUND BLACK */
body.dark-mode,
body.dark-mode header {
  background: var(--black);
}
/* DARK MODE - COLOR WHITE */
body.dark-mode,
body.dark-mode .title,
body.dark-mode .name-description,
body.dark-mode .language,
body.dark-mode #nav a,
body.dark-mode .section-title,
body.dark-mode .section-description,
body.dark-mode .btn a,
body.dark-mode .title-description,
body.dark-mode .icon {
  color: var(--white);
}
body.dark-mode .btn {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  border: 0.2rem solid var(--white);
  transition: 0.2s;
  box-shadow: 3px 3px 0px var(--white);
  background: none;
}
body.dark-mode .btn:hover {
  background: var(--purple);
}
body.dark-mode .btn:hover a {
  color: var(--white);
}
body.dark-mode footer {
  background: var(--dark-black);
  color: var(--white);
}
body.dark-mode #nav-container {
  background: var(--dark-black);
}
