.dark-mode li button {
    background: none;
    border: none;
}
#btn-mobile {
    display: none;
    border: none;
    background: none;
}
#hamburger {
    display: block;
    border-top: 2px solid black;
}
#hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    margin-top: 5px;
}

@media (max-width: 1024px) {
    #btn-mobile {
        position: relative;
        z-index: 666;
        display: block;
    }
    #nav {
        width: 100%;
        display: grid;
        place-items: center;
        position: absolute;
        top: -300%;
    }
    #nav .navbar {
        display: grid;
    }
    #nav.active .navbar {
        display: grid;
    }
    #nav.active {
        display: grid;
        place-items: center;
        top: 30%;
        background-color: var(--white);
        width: 100%;
        font-size: 4em;
    }
    #nav.active #hamburger {
        border: none;
    }
    #nav.active #hamburger::after {
        content: '';
        position: relative;
        transform: rotate(360deg);
    }
}