/* Header */
.hero-section {
  padding: 10rem 20% 0 20%;
}
.hero-section_img {
  position: relative;
  /* animation: name d uration timing-function delay iteration-count direction
    fill-mode; */
  animation: animate 5s linear alternate infinite;
}
.navbar,
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container-content {
  display: flex;
  justify-content: flex-end;
}
.header-content-container,
#nav-container {
  padding: 2rem 20%;
}
#nav-container {
  background-color: var(--white);
}
.navbar li,
nav {
  transition: 0.3s;
}
#nav-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* Header --> Navbar */
header nav .navbar .nav-link a {
  color: var(--black);
  font-size: 2.5rem;
  font-family: var(--regular-text-font);
  transition: 0.2s;
  margin-left: 8rem;
}
header nav .navbar .nav-link a:hover::after {
  width: 100%;
}
.title {
  font-size: var(--main-title-size);
  color: var(--black);
  font-family: var(--title-font);
  display: flex;
  flex-direction: column;
}
.middle-title {
  color: var(--purple);
}
.title-description {
  color: var(--black);
  font-size: var(--title-description-size);
  margin: 4rem 0;
  font-weight: 500;
}
.wrapper {
  line-height: 120px;
  height: 120px;
  overflow: hidden;
  /* background-color: red; */
}
.carousel-text-container {
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
.carousel-text {
  position: relative;
}
@keyframes slide {
  100% {
    top: -480px;
  }
}
.carousel-text::after {
  content: "";
  position: absolute;
  height: 66.5%;
  width: 100%;
  border-left: 2px solid var(--purple);
  left: 0;
  animation: typing 1.5s steps(10) infinite;
  background-color: var(--white);
}
@keyframes typing {
  100% {
    left: 110%;
  }
}
.up-btn {
  font-size: 5rem;
  background: none;
  border: none;
  position: fixed;
  bottom: -87%;
  right: 5%;
  display: none;
  transition: 1s;
  animation: animate 1s linear alternate infinite;
}
.up-btn a {
  color: var(--purple);
}
.up-btn.sticky {
  display: block;
}
@keyframes animate {
  /* 0% {
    top: -1rem;
  }
  100% {
    top: 1rem;
  } */
  0% {
    top: -3rem;
  }
  100% {
    top: 3rem;
  }
}
@media screen and (max-width: 882px) {
  .image {
    width: 30%;
    height: 30%;
  }
}
