/* Header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20%;
}
.nav-container, .navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav, .nav-container-content, .navbar, .header-content-container, .card-container, .section-content {
    display: flex;
}
.nav-container-content, #header-content {
    /* width: 100vw; */
    justify-content: space-between;
    padding: 2rem 0;
}
.header-content-container, #nav-container {
    padding: 0 20%;
}
.navbar li, nav {
    transition: 0.3s;
}
#nav-container {
    position: fixed;
    background: var(--white);
    width: 100%;
    z-index: 999;
}
.up-btn  {
    font-size: 5rem;
    background: none;
    border: none;
    position: fixed;
    bottom: -87%;
    right: 5%;
    display: none;
    transition: 1s;
    animation: animate 1s linear alternate infinite;
}
.up-btn a {
    color: var(--cyan);
}
.up-btn.sticky {
    display: block;
}
header.sticky .nav-container {
    background: var(--white);
}
/* Header --> Navbar */
header nav .navbar .nav-link {
    margin: 0 4.8rem;
}
header nav .navbar .nav-link a, #logo a {
    color: var(--grey);
    font-size: 2rem;
    font-family: var(--roboto);
    font-weight: 300;
    transition: 0.2s;
}
header nav .navbar .nav-link a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--cyan);
    transition: 0.2s;
}
header nav .navbar .nav-link a:hover::after {
    width: 100%;
}
/* Header --> Description */
.description {
    margin: 12rem 0;
}
.title {
    font-size: calc(1.5rem + 1.5vw);
    font-family: var(--nycd);
    color: var(--black);
}
.title-description {
    color: var(--grey);
    font-size: var(--title-description-size);
    font-family: var(--lato);
    margin: 4rem 0;
}
#folio {
    margin-top: 10rem;
    font-size: var(--main-title-size);    
    color: var(--blue);
    font-family: var(--nycd);
    text-shadow: 5px 5px 0 var(--light-blue);
    animation: animate 1s linear infinite alternate;
    position: relative;
}
@keyframes animate {
    0% {
        top: -10px;
    }
    100% {
        top: 10px;
    }
}
@media screen and (max-width: 882px) {
    .image {
        width: 30%;
        height: 30%;
    }
}
