/* Header */
.hero-section {
  padding: 10rem 20% 0 20%;
}
.nav-container,
.navbar,
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container-content {
  display: flex;
  justify-content: flex-end;
}
.header-content-container,
#nav-container {
  padding: 0 20%;
}
.navbar li,
nav {
  transition: 0.3s;
}
#nav-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}
/* Header --> Navbar */
header nav .navbar .nav-link a {
  color: var(--black);
  font-size: 4rem;
  font-family: var(--title-font);
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.2s;
  margin-left: 8rem;
}
header nav .navbar .nav-link a:hover::after {
  width: 100%;
}
.title {
  font-size: var(--main-title-size);
  color: var(--black);
  font-family: var(--title-font);
  display: flex;
  flex-direction: column;
  /* animation: animate 1s linear infinite alternate; */
  position: relative;
}
.middle-title {
  color: var(--purple);
}
.title-description {
  color: var(--black);
  font-size: var(--title-description-size);
  margin: 4rem 0;
  font-weight: 500;
}
.up-btn {
  font-size: 5rem;
  background: none;
  border: none;
  position: fixed;
  bottom: -87%;
  right: 5%;
  display: none;
  transition: 1s;
  animation: animate 1s linear alternate infinite;
}
.up-btn a {
  color: var(--cyan);
}
.up-btn.sticky {
  display: block;
}
@keyframes animate {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
@media screen and (max-width: 882px) {
  .image {
    width: 30%;
    height: 30%;
  }
}
