#contact, #projects, #about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*  --> About Section  */
#about, 
#about .section-title, 
#projects, 
#projects .section-title{
    background: var(--purple);
    text-align: right;
}
.text-container{ 
    display: flex;
    flex-direction: column;
    width: 75%;
    float: right;
}
.text-container * {
    margin-bottom: 2rem;
}
/*  --> Card (skills) Section  */
.card-container {
    display: flex;
}
.card {
    margin: 2rem 1rem;
    color: #222;
}
.card .face-front {
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;   
    transform: translateY(0);
}
.card:hover .face-front{
    transform: translateY(-15%);
}
.card .face-back, .card-project .project-languages {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.card:hover .face-back, .card-project:hover .project-languages {
    transform: translateY(45%);
    opacity: 1;
}
.point {
    background: var(--cyan);
    width: 3px;        
    height: 3px;
    border-radius: 50%;
    margin-right: .6rem;
}
.card .face-back .language-skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card i {
    z-index: 10;
    color: var(--grey);
}
#skills .face-back p {
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Roboto Mono';
} 
/* Cards (projects) section */
#projects .img-container img,
#about .img-container img {
    position: relative;
    left: -12%;
}
#contact .img-container img {
    position: relative;
    left: 25%;
}
.card-projects-container {
    display: flex;
}
.card-project {
    width: 20rem;
    height: 30rem;
    background: var(--greyLight);
    border-radius: 2.5rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-project * {
    transition: 0.5s;
    color: var(--white);
}
.card-project .big-icon {
    transition: 0.5s;
    font-size: 8rem;
    margin-bottom: 4rem;
    opacity: 0.8;
}
.card-project:hover * {
    transform: scale(1.4);
}
.project-name {
    font-size: 2rem;
    font-family: var(--lato);
}
.project-language {
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.project-language p {
    margin: 0 2rem;
}
/* Titles */
h1 {
    color: var(--cyan);
}
h3 {
    color: var(--black);
    font-family: 'Roboto Mono';
    font-size: 2.5rem;
}
.section-title {
    color: var(--black);
    font-family: var(--nycd);
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
    text-align: left;
}
.section-description {
    color: var(--grey);
    font-family: var(--lato);
    font-size: 1.7rem;
    font-weight: 400;
}
.white {
    color: var(--blue);
}
.language {
    font-size: 2.3rem;
}
section {
    padding: 8rem 40rem;
    box-shadow: 2px 2px 5px rgb(194, 194, 194);
}
/* MUSIC PLAYER */
.music-player {
    margin-bottom: 10rem;
}
.music-player, .triangle-container, .circle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    width: 0.8rem;
    height: 4rem;
    background: var(--cyan);
    margin: 5px;
}
.line.k {
    position: relative;
    right: -3rem;
}
.line.kk {
    position: relative;
    left: -3rem;
}
.circle {
    width: 7rem;
    height: 7rem;
    border: 0.5rem solid var(--cyan);
    border-radius: 50%;
    margin: 0 6rem;
    animation: rotate 3s linear alternate infinite;
}
.triangle {
    border-bottom: 25px solid transparent;
    border-right: 25px solid var(--cyan);
    border-left: 25px solid transparent;
    border-top: 25px solid transparent;
}
.triangle.two {
    transform: rotate(180deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    body, .container {
        width: 100vw;
    }
    #about .about-description {
        margin-left: 0;
        width: 85%;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .music-player {
        margin: 0 0 3rem 0;
    }
    section {
        padding: 5rem;
        padding-top: 5rem;
    }
}
@media screen and (max-width: 400px) {
    html {
        width: 100vw;
    }
    .up-btn {
        right: 10.5%;
    }
    .social-list {
        display: grid;
    }
    .music-player {
        margin-right: 1rem;
    }
    .section-title.white{
        white-space: nowrap;
    }
    #about {
        padding: 2.2rem;
    }
}