.text-container {
  width: 60%;
  position: relative;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.text-container * {
  margin-bottom: 2rem;
}
/* Skills Section */
.skills-container {
  width: fit-content;
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}
.skill-container,
.icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.language {
  font-size: 2rem;
}
.icon {
  font-size: 6rem;
  color: var(--black);
}
.point {
  background: var(--purple);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
/* Cards section */
.work-cards_container {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 6rem;
}
.work-card {
  background-color: var(--);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
}
.work-card-title {
  color: var(--black);
  border-bottom: 2px solid var(--purple);
  width: fit-content;
  font-family: var(--title-font);
  font-weight: bolder;
  font-size: 2.5rem;
}
.work-card-date {
  opacity: 0.7;
  font-size: 2rem;
}
.work-card-description {
  color: var(--black);
  font-size: 1.5rem;
}
.work-card-code-link {
  color: var(--black);
  cursor: pointer;
  box-shadow: 3px 3px 0px var(--black);
  border: 1px solid var(--black);
  padding: 1rem;
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.5rem;
}
/* Titles */
.section-title {
  color: var(--black);
  font-size: var(--section-title-size);
  text-transform: uppercase;
  font-family: var(--title-font);
}
h5.section-title {
  font-size: var(--section-subtitle-size);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1010px) {
  .image {
    display: none;
    width: 400px;
  }
}
@media (max-width: 1080px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
