.text-container {
  display: flex;
  flex-direction: column;
}
.text-container * {
  margin-bottom: 2rem;
}
/*  --> Card (skills) Section  */
.card-container {
  display: flex;
}
.card {
  margin: 2rem 1rem;
  color: #222;
}
.card .face-front {
  font-size: var(--skills-icon-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  transform: translateY(0);
}
.card:hover .face-front {
  transform: translateY(-15%);
}
.card .face-back,
.card-project .project-languages {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.card:hover .face-back,
.card-project:hover .project-languages {
  transform: translateY(45%);
  opacity: 1;
}
.point {
  background: var(--cyan);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.card .face-back .language-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card i {
  z-index: 10;
  color: var(--grey);
}
#skills .face-back p {
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Roboto Mono";
}
/* Cards (projects) section */
.card-projects-container {
  display: flex;
}
.card-project {
  width: 20rem;
  height: 30rem;
  background: var(--greyLight);
  border-radius: 2.5rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-project * {
  transition: 0.5s;
  color: var(--white);
}
.card-project .big-icon {
  transition: 0.5s;
  font-size: 8rem;
  margin-bottom: 4rem;
  opacity: 0.8;
}
.card-project:hover * {
  transform: scale(1.4);
}
.project-name {
  font-size: 2rem;
  font-family: var(--lato);
}
.project-language {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 0.8rem;
}
.project-language p {
  margin: 0 2rem;
}
/* Titles */
.section-title {
  color: var(--black);
  font-family: var(--nycd);
  font-size: var(--section-title-size);
  text-transform: uppercase;
}
.section-description {
  color: var(--grey);
  font-family: var(--lato);
  font-size: var(--section-description-size);
  font-weight: 400;
}
.about-description {
  font-size: 1.7rem;
}
.language {
  font-size: 2.3rem;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1010px) {
  .image {
    display: none;
    width: 400px;
  }
}
@media (max-width: 1080px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-container.projects {
    display: grid;
    grid-template-columns: 1fr;
  }
}
